<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <script src="libs/jquery.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row collage">
        <div class="col-md-1 col-xs-1 col-sm-1 c1"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c2"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c3"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c4"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c5"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c6"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c7"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c8"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c9"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c10"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c11"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c12"></div>
      </div>
      <div class="row text-center menu">
        <div class="col-md-4 col-sm-4 text-left semi">
          <a href="../index.html">Seminario 2019</a>
        </div>
        <div class="col-md-2 col-sm-2 men"><a href="comunidades.html">Comunidades</a></div>
        <div class="col-md-2 col-sm-2 col-xs-2 men"><a href="info.html">Información</a></div>
        <div class="col-md-2 col-sm-2 col-xs-2 men "><a href="proyectos.html">Proyectos</a></div>
        <div class="col-md-2 col-sm-2 col-xs-2 men "><a href="carreras.html">Presentación</a></div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row filadecoracion">
      <div class="col-md-12 col-sm-12 col-xs-12 "></div>
    </div>
  </div>
    <div class="container-fluid contenedorkatun">
      <div class="row titulokatun text-center">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <h1 class="titulokatun">Plan K'atun Nuestra Guatemala 2032</h1>
        </div>
      </div>
      <div class="row filakatun">
        <div class="col-md-6 col-xs-6 col-sm-6 espaciokatun"><br>
          <h6>
            Nos muestra que el Plan Nacional de Desarrollo de Guatemala se elabora por mandato
            constitucional. Su nombre proviene de la cosmovisión maya, en donde un K’atun correspondía
            al lapso de tiempo que concurría el proceso de edificación de una gestión. La forma de medir
            el tiempo se basó en un profundo conocimiento de la astronomía que luego se aplicó a la
            cotidianidad en donde al inicio y al final de cada k’atun, los gobernantes mayas presentaban
            resultados de sus logros.<br><br>
            Esto es justamente lo que quiere rescatar este plan, la forma en donde todos los guatemaltecos
            y todas las guatemaltecas y quienes forman parte de este pueblo, sienten las bases de un nuevo
            proceso de gestión, delineando un futuro común que consiga un desarrollo sostenido de aquí al
            2032.<br><br>
            <li>Guatemala urbana y rural </li>
            <li>Bienestar para la gente</li>
            <li>Riquezas para todos y para todas</li>
            <li>Recursos naturales para hoy y para el futuro </li>
            <li>Estado garante de los derechos humanos y
                conductor del desarrollo.
            </li>
          </h6>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 imgkatun2">
          <img src="../img/katunfill.png" class="img-fluid kat"alt="">
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row filadecoracion">
        <div class="col-md-12 col-sm-12 col-xs-12 "></div>
      </div>
    </div>
      <div class="container-fluid contenedorods">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-6 "><br>
            <center>  <img src="../img/odss.png" class="imgodss img-fluid" width="80%" height="200px;" alt=""></center>
            <h1 class="text-center">Objetivos de Desarrollo Sostenible</h1>
            <br>
            <h6>
              Son 17 Objetivos Mundiales que forman parte de la Agenda 2030. Comenzaron en 2015 y estarán vigentes hasta 2030. Se orientan a la obtención de 3 logros:<br><br>
            <li>Erradicar la pobreza extrema</li>
            <li>Combatir la desigualdad y la injusticia</li>
            <li>Solucionar el cambio climático</li>
            </h6>
            <br>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-6"><br>
              <img src="../img/mundo.jpg" class="img-fluid"  width="100%" height="auto" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row filadecoracion">
        <div class="col-md-12 col-sm-12 col-xs-12 "></div>
      </div>
    </div>
    <script src="../bootstrap/dist/js/bootstrap.js"></script>
    <script src="libs/angular.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
