<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <script src="../libs/jquery.js"></script>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row text-center filaestablecimiento">
        <div class="col-md-12 col-sm-12 cik-xs-12"><br><br>
          <h1 class="establecimiento">LICEO COMPU-MARKET</h1>
        </div>
      </div>
      <div class="row collage">
        <div class="col-md-1 col-xs-1 col-sm-1 c1"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c2"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c3"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c4"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c5"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c6"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c7"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c8"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c9"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c10"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c11"></div>
        <div class="col-md-1 col-xs-1 col-sm-1 c12"></div>
      </div>
      <div class="row text-center menu">
        <div class="col-md-4 col-sm-4 text-left semi">
          <a href="../index.html">Seminario 2019</a>
        </div>
        <div class="col-md-2 col-sm-2 men"><a href="comunidades.html">Comunidades</a></div>
        <div class="col-md-2 col-sm-2 col-xs-2 men"><a href="info.html">Información</a></div>
        <div class="col-md-2 col-sm-2 col-xs-2 men "><a href="proyectos.html">Proyectos</a></div>
        <div class="col-md-2 col-sm-2 col-xs-2 men "><a href="carreras.html">Presentación</a></div>
      </div>
    </div>
    <div class="container-fluid esp">
      <div class="row fod">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <img src="../img/ods.png" class="img-fluid ods" alt="">
        </div>
      </div>
      <!--inicio fila-->
      <div class="row filaods">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O1.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Poner fin a la pobreza en todas sus formas y en todo el mundo</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods2">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O2.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Poner fin al hambre,lograr la seguridad alimentaria y la mejora de la nutrición</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../img/p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods3">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O3.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Garantizar una vida sana y promover el bienestar de todas las personas</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods4">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O4.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Garantiza una educación inclusiva y equitativa de calidad y promover oportunidades de aprendizaje</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods5">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O5.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Lograr la igualdad de género en todo el mundo</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods6">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O6.png" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Garantizar la disponibilidad y la gestion sostenible del agua</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods7">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O7.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Garantizar el acceso a una energia asequible, fiable, sostenible y moderna para todos y todas </h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods8">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O8.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Promover el crecimiento economico sostenido, inclusivo y sostenible, el empleo pleno y productivo y el trabajo decente para todos y todas </h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods9">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O9.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Construir infraestructuras resilientes,promover la industrialización inclusiva y sostenibley fomentar la inovación</h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
      <!--inicio fila-->
      <div class="row filaods10">
        <div class="col-md-4 col-sm-4 col-xs-4">
          <img src="../img/O10.JPG" class="odsimg" alt="">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center colinfo">
          <h3 class="textods">Reducir la desigualdad en los países y entre ellos </h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"><br>
          <object data="../p.pdf"></object>
          <div class="enlace">
              <a href="../p.pdf">Leer</a>
          </div><br>
        </div>
      </div>
      <!--inicio fila-->
    </div>
    <script src="../bootstrap/dist/js/bootstrap.js"></script>
    <script src="../libs/angular.js"></script>
    <script src="../js/script.js"></script>
  </body>
</html>
